@import "../../../styles";

.Dashboard {
  padding: $padding;
}

.jumbotron {
  font-size: 1.618rem;
  margin: 0 auto;
  // padding: 5em;
  background-color: $primary;
  max-width: 61.8%;
  // min-height: 61.8vh;
  display: grid;
  place-content: center;
  @include border($width: 0);

  .head,
  .body {
    margin: 0 auto;
    padding: 2em;
  }

  .body {
    padding: 3em;
    background-color: $white;
    color: $primary;
  }
}
