@import "styles";

.project {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: $padding;
  width: 100%;
  color: $white;
  grid-column: 2/4;

  h2 {
    margin: 0;
  }

  p {
    font-size: $goldenPercent;
    color: $neutral;

    & span {
      margin-left: $margin;
    }
  }
}

.inactive {
  color: $neutral;
}

.status {
  font-size: $goldenPercent;
  color: $white;

  & span {
    margin-left: $margin;
    color: $successColor;
    font-weight: bold;
  }
}

.history {
  display: flex;
  justify-content: space-between;

  p {
    // color: $successColor;
    span {
      display: inline-block;
    }
  }
}
