@import "styles";

.manager {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  height: 100%;
  padding: $padding;
}

@media screen and (min-width: $desktop) {
  .manager {
    grid-template-columns: 1fr 1.618fr 1.618fr;
  }
}
