@import "styles";

.toolbar {
  display: flex;
  @include border();
  background: scale-color($black, $lightness: 3%);
  font-size: $goldenPercent;
  margin: $margin 0 $margin * 1.618;

  button {
    margin: 0;
  }
}
