@import "styles";

.footer {
  color: $neutral;
  @include paddingBox;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  margin-top: $margin;
  display: flex;
}

.webAuthor {
  margin: 0 1rem;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .attribution {
    margin-top: 0;
  }

  .web-author {
    text-align: right;
  }
}
